{% extends "paynow/base.html" %}

{% block title %}Make a payment{% endblock %}

{% block content %}

<div class="row">
<div class="col-sm-12">
<h1 class="page-header">Payments</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Payment Ecocash/Telecash</h3>
  </div>
  <div class="panel-body">
<form action="{% url 'paynow:paynow_payment' %}" method="post">
  {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <br>
    <input type="submit" value="Make Payment"/>
</form>
  </div>
</div>
</div>
</div>

{% endblock %}