{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Payment Processing System - Paynow Integration">
    <meta name="author" content="charlek" >
    <link rel="icon" href="{% static 'payments/css/dashboard.css' %}">

    <title>{% block title %}{% endblock %} - Payment Dashboard - Paynow Integration</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'payments/css/bootstrap.min.css' %}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'payments/css/dashboard.css' %}" />

</head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'payments:index' %}">Payment System - Paynow</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
           <li><a href="{% url 'payments:my_profile' %}">{{ user.username }} ({{ user.email }})</a></li>
           <li><a href="/logout/">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <p>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'payments:index' %}">Payments Home<span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'payments:paynow_payment' %}">New Paynow Payment - Example</a></li>
            <li><a href="{% url 'payments:paynow_mobile_payment' %}">New Paynow Mobile Payment - Example</a></li>
            <li><a href="{% url 'payments:confirmed_payments' %}">Confirmed Payments</a></li>
            <li><a href="{% url 'payments:unconfirmed_payments' %}">Unconfirmed Payments</a></li>
          </ul>
          </p>
          {% block cashier_side_menu %}{% endblock %}

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          {% if messages %}
          <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-danger">
                <ul class="messages">
    		{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    		{% endfor %}
                </ul>
            </div>
        </div>
        </div>
	{% endif %}
          {% block content %}{% endblock %}

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'payments/js/jquery.min.js' %}"></script>
    <script src="{% static 'payments/js/bootstrap.min.js' %}"></script>
  </body>
</html>
